/* UTILITY */

.row{
  width: 80%;
  margin: 0 auto;
}


h1{
  font-size: 22px;
  font-weight: 700;
}
h2{
  text-align: center;
  font-weight: 700;
}

.fa-bars {
  border: 1px solid grey;
  color: grey;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10%;
  text-align: center;
  margin-top: 25px;
}

.fa-star{
  vertical-align: middle;
  display: inline-block;
  font-size: 22px;
}

.inline{
  display: inline-block;
}

input{
  width: 100%;
  border: none;
  line-height: 30px;
}

/* NAVBAR */
 .navbar-header{
  color: #ffffff;
  background-color: #2c3e50;
  margin-bottom: 0;
  width: 100%;
}

a.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    color: #ffffff;
    text-transform: uppercase;
}


.navbar-toggle{
  margin: 0 auto;
  padding: 0;
  vertical-align: middle;
}
.nav{
  margin-top: 30px;

}
.nav>span>a{
  color: #ffffff;
  display: none;
  text-transform: uppercase;
  vertical-align: middle;
}


#hamburger{
  display: inline-block;
}
/* JUMBO STYLE */
.jumbo{
  color: #ffffff;
  background-color: #1abc9c;
  text-align: center;
  font-weight: 700;
  padding-top: 100px;
}

.wrapimg{
  height: 200px;
  text-align: center;
  margin: 15px auto 5px auto;

}

.inline.white{
  color: #ffffff;
  width: 10%;
  vertical-align: middle;
  border: 2px solid white;
}
.descr_jumbo{
  font-weight: 200;
  text-transform: uppercase;
  padding-bottom: 15px;
}
/* PORTFOLIO */
.wrapimgfluid{
  width: 100%;
  margin: 15px auto;
  border-radius: 10px;
  text-align: center;
}
.col-xs-12{
  padding-left: 15px;
  padding-right: 15px;
}
#black2, #black1 {
  color: black;
}
]
.white {
  color: #ffffff;
  width: 10%;
  vertical-align: middle;
  border: 2px solid white;
}
.black {
  color: black;
  width: 10%;
  vertical-align: middle;
  border: 2px solid black;
}
.tabella_img{
  text-align: center;
}
.title_tron{
  padding: 20px 0 10px 0;
  text-align: center;
}
/* ABOUT */
.about{
  color: #ffffff;
  background-color: #1abc9c;
  text-align: center;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 30px;
}

.descr_about{
  width: 60%;
  margin: 0 auto;
  text-align: left;
}
.fa-download{
color: white;
padding: 5px;
text-align: center;
}
a.btn.btn-primary.btn-lg.active{
  background-color: #1abc9c;
  border: 1px solid white;
  color: white;
}

/* CONTACT */
.contact_title{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.row.contact {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.blue{
  color: #2c3e50;
  margin-left: -15px;
}
.border-bottom {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;

}
/* FOOTER */
.foot{
  background-color: #2c3e50;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}
.btn-social{
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin: 5px;
}
.copyrights{
  background-color: #1a252f;
  color: #ffffff;
  padding: 30px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
  #hamburger{
    display: none;
  }
  .nav>span>a{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
  }
  .jumbo{
    padding-bottom: 20px;
    font-size: 22px;
  }
  .tabella_img{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
  }
  .about{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
  }
  .contact_title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
  }
  h2{
    font-size: 36px;
  }
  .fa-star{
    vertical-align: middle;
    display: inline-block;
    font-size: 24px;
  }

  }
}

/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 992px) {
  #hamburger{
    display: none;
  }
  .nav>span>a{
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
  }
  .jumbo{
    padding-bottom: 40px;
    font-size: 24px;
  }
  .tabella_img{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
  }
  .about{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
  }
  .contact_title{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
  }
  h2{
    font-size: 38px;
  }
  .fa-star{
    vertical-align: middle;
    display: inline-block;
    font-size: 28px;
  }

  }

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px) {
  .nav{
    padding-top: 10px;
    padding-bottom: 30px;
  }
  a.navbar-brand{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  #hamburger{
    display: none;
  }
  .nav>span>a{
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
  }
  .jumbo{
    padding-bottom: 50px;
    font-size: 26px;
  }
  .tabella_img{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 26px;
  }
  .about{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 26px;
  }
  .contact_title{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 26px;
  }
  h2{
    font-size: 52px;
  }
  .fa-star{
    vertical-align: middle;
    display: inline-block;
    font-size: 30px;
    margin: 25px auto 35px auto;
  }
  .wrapimg{
    height: 300px;
    text-align: center;
    margin: 25px auto 35px auto;

  }

   }
